
<%= form_for([@user,@booking]) do |f| %>
  <% if booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :From %>
    <%= f.datetime_select :start, :discard_hour => true %>
  </div>

  <div class="field">
    <%= f.label :To %>
    <%= f.datetime_select :return, :discard_hour => true %>
  </div>
 
<%for bike in @bikes %>
    <%if bike.status==false%>
      
      <%else%>
    <div class="field">
    <h4><%=bike.category%> Bike</h4>
    <strong><%= f.label :Bike, (image_tag bike.title, :style => "height:100px") %>  
    <%= f.radio_button(:bike_id, bike.id) %></strong>
  </div>
  <%end%>
  <%end%>
  <strong>Extras :</strong>
  <div class="field" >
  <strong>None:</strong>
  <%= check_box_tag :noaddons,:true, checked: true %>
  </div>
  <div class="field" >
<strong>Helmet: Free </strong>
<%= check_box_tag 'bike[helmet]','Helmet'%>
</div>
 <div class="field">
<strong>Ligths:  5€ +</strong>
<%= check_box_tag 'bike[ligths]','Ligths'%>
</div>
 <div class="field">
<strong>Basket: 10€ +</strong>
<%= check_box_tag 'bike[basket]','Basket'%>
</div>
    
  <div class="field">
    
    <%= f.hidden_field :addons  %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
   
<%end%>