
<%# this page will be displayed to the user when they complete a booking succesfully%>
<h1>Checkout</h1>
<h4>Thanks for booking, <%=@user.profile.firstname%></h4>
<table>
  <thead>
    <tr>
      <th>Start</th>
      <th>Return</th>
      <th>Bike</th>
       <th>Period</th>
      <th>Total Paid</th>
<th colspan="1"></th>
    </tr>
  </thead>
   <tbody>
 
   <tr>
        <%# this will show the date of the booking shorter just month year and day will be displayed%>
        <td><%= @booking.start.strftime("%B %d, %Y")%></td>
        <td><%= @booking.return.strftime("%B %d, %Y") %></td>
        <%# this will show the category of the bike%>
        <td><%= @booking.bike.category %></td>
        <%# this will show the period of the booking%>
        <%@period=@booking.return.day-@booking.start.day + 1%>

         <%# the period if is greater than one will display Days %>
          <% if @period>1 %>
          <td><%=@period %> Days</td>
          <%else%>
           <%# otherwise it will display Day in singular%>
          <td><%=@period %> Day</td>
          <%end%> 
           <%# it will show the total to pay by the user including the extras %>
        <td><%=@booking.total%> €</td>
        <td><%@totalpay=@booking.total %></td>


           </tr>
             </tbody>
</table>
<%-# Code taken from Stripe limited company it will show the form to pay by credit card -%>
<%= form_tag charges_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
      <span>Amount: <%=@totalpay%> €</span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Bike rental services"
          data-amount=<%=@totalpay*100 %>
          data-currency='eur'
          data-locale="auto"></script>
<% end %>

