<p id="notice"><%= notice %></p>
<h1><strong><%=@bike.category%> Bike</strong></h1>
<p><%# this will display the image of the bike is added a style with a 200px of heigth%>
  <%= (image_tag @bike.title, :style => "height:100px") %>
</p>

<p>
  <strong>Description:</strong>
  <%= @bike.description %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @bike.quantity %>
</p>

<p>
  <strong>Price:</strong>
  <%= @bike.price %>
</p>

<p>
  <strong>Status:</strong>
  <%= @bike.status %>
</p>

<p>
  <strong>Category:</strong>
  <%= @bike.category %>
</p>

<%= link_to 'Edit', edit_bike_path(@bike) %> |
<%= link_to 'Back', bikes_path %>
